body {
  font-family: Manrope;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
.container .header__container {
  font-size: 90px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: Manrope;
  font-size: 18px;
  background-color: white;
}