body {
  font-family: Manrope;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: Manrope;
  background-color: white;
}

.header__container {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__menu__list {
  background-color: #91a7f5;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}
.header__menu__item {
  margin-left: 55px;
  margin-right: 55px;
  flex-shrink: 0;
  cursor: pointer;
}
.header__button {
  color: #ffffff;
  border-radius: 14px;
  padding: 5px;
  padding: 7px 15px;
  border: none;
  background-color: black;
  flex-shrink: 0;
}